body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(green,yellow,red);
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    background: linear-gradient(green,yellow,red);
    width: 120px;
    
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.menu-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    width: 400px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: linear-gradient(green,yellow,red);
    color: white;
}
